table {
  box-shadow: none;
  background-color: inherit;
}

thead {
  text-decoration: underline;
}

th {
  color: inherit;
  background-color: inherit;
  padding: 0;
}

td {
  border: none;
  padding: 0;
  margin: 0;
}

.homepage-flex-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.homepage-assignments-container {
  background-color: #ABBD9A;
  border: 1px solid #07070aaa;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.homepage-assignments-table {
  background-color: #DCCCBB;
  border-radius: 0;
  padding: 0;
  border: none;
  height: 83%;
  overflow-y: auto;
  border-top: 1px solid;

}

.homepage-calendar-container {
  background-color: #ABBD9A;
  border: 1px solid #07070aaa;
  height: 500px;
  min-height: 70vh;
  border-radius: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

.homepage-class-select {
  display: block;
  margin: 25px auto 0px auto;
  color: inherit;
  background-color: inherit;
  font-family: inherit;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-bottom: 2px solid;
  padding: 1%;
}

.rbc-calendar {
  height: 83%;
  border-top: 1px solid;
}

.left-table {
  text-align: left;
}

.right-table {
  text-align: right;
}

.center-table {
  text-align: center;
}
.homepage-container {
  margin-left: 10%;
  transform: scale(1.1);
}