.select_class_button {
  background-color: white;
  padding: 10px;
  width: 136.297px;
  border-radius: 5px;
  position: absolute;
  display: block;
}

.select_class_button:hover {
  background-color: black;
  color: white;
  padding: 10px;
}

