.select_class_button {
  display: none;
  background-color: white;
  padding: 10px;
  width: 136.297px;
  border-radius: 5px;
}

.select_class_button:hover {
  background-color: black;
  color: white;
  padding: 10px;
}

.classes_dropdown:hover .select_class_button {
  display: block;
  position: absolute;
}
