.edit_assignment_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9;
}

.edit_assignment_modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.edit_assignment_modal form {
  display: flex;
  flex-direction: column;
}

.edit_assignment_modal input[type="text"],
.edit_assignment_modal input[type="date"],
.edit_assignment_modal textarea {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: calc(100% - 20px); /* Adjust width considering padding */
}
