.submit_assignment_modal {
  position: absolute;
  background-color: grey;
  border-radius: 5px;
  filter: drop-shadow(0 0 2em #707a3e);
  color: white;
}

.submit_assignment_modal * {
  margin: 0;
}
.submission-input {
  width: 65%;
  margin-right: 28%;
}