.admin-modal {
    height: 80vh;
    overflow: scroll;
}
.admin-students-list {
    background-color: #ABBD9A;
    border-radius: 10px;
    /* padding: 20px; */
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75 );
}

.admin-search-bar {
    margin-top: 2rem;
}
.admin-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.admin-h2 {
    margin-right: 6rem;
}
.admin-create-buttons {
    display: flex;
    justify-content: flex-end;
    top: 1rem;
    column-gap: 1rem;
}

.admin-dropdown {
    /* max-width: fit-content; */
    transform: scale(1.2);
    margin-top: 1rem;
    border-radius: 5px;
}

.admin-form {
  background-color: #CED2BA;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  padding: 20px;
}
.admin-table {
    background-color: #DCCCBB;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.admin-add-student-table {
    background-color: #CED2BA;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}
.add-student-button {
    background-color: #858D6F;

}
.admin-form-inner {
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: space-evenly;
    align-items: baseline;
}
.admin-create-users {
    background-color: #ABBD9A;
    padding: 1%;
    margin-top: 1rem;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75 );
    border-radius: 1rem;
}