.add-task {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  color: black;
  background-color: #CED2BA;
  transition: background-color 0.5s;
}

.add-task:hover {
  color: white;
}

.tasks-header {
  display: flex;
  padding-top: 15px;
  justify-content: center;
}

.task-container {
  background-color: #ABBD9A;
  border: 1px solid #07070aaa;
  width: 60%;
  min-height: 70vh;
  border-radius: 10px;

  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.75);
}


.edit-task {
  text-align: center;
  color: black;
}
.add-task-modal-content {
  background-color: #DCCCBB;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  row-gap: 5px;
  width: fit-content;
  transform: scale(1.2);
}
