.add-task {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
  background-color: #858D6F;
  transition: background-color 0.5s;

}

.tasks-header {
  display: flex;
  padding-top: 15px;
  justify-content: center;
}

.task-container {
  background-color: #ABBD9A;
  border: 1px solid #07070aaa;
  width: 60%;
  min-height: 70vh;
  border-radius: 10px;
  margin-left: 2rem;
}

.edit-task {
  text-align: center;
  color: black;
}
