@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: #CED2BA;
  padding-top: -50px;
}
/*
LOGIN PAGE / NAV BAR CSS ========================================
*/

.login-page, .login-form {
  display: flex;
  align-items: center;
  transform: scale(1.25);
  row-gap: 2.5rem;
  justify-content: flex-start;
}
.login-page {
  display: flex;
  justify-content: center;
  height: 75vh;
  flex-direction: column;
  position: absolute;
  width: 100vh;
  left: 21%;

}
.login-h1, .login-form, .login-p, body{
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.login-p {
  font-size: small;
  position: relative;
  top: -20px;
}

.login-form , .nav-bar{
  background-color: #ABBD9A;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  row-gap: 0px;
  width: fit-content;
  /* transform: scale(1.5); */


}
.nav-bar {
  z-index: 99;
  width: 6em;
  row-gap: .75rem;
    display: flex;
    flex-direction: column;
    transform: scale(1.25) translateX(-70%);
    position: fixed;
    left: 0;
    bottom: 36%;
    transition: 0.5s ease-in-out
}

.nav-bar:hover {
  transform: scale(1.25) translateX(0) /* show on hover */
}

.nav-bar button:hover {
  transform: scale(1.1);
}
.nav-bar button:active {
  transform: scale(0.9);
}

.login-button, .tab {
  background-color: #CED2BA;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.5s;
  border: 1px solid #07070aaa;
  color:black;
  height: 2rem;
  /* filter: drop-shadow(0 0 1em #0d17d9aa); */
}
.tab {
  height: 4rem;;
}
.login-button:hover {
  background-color: #acbb5e;
  filter: drop-shadow(0 0 1em #707a3e);
}
.tab:hover {
  color: white;
  background-color: #858D6F;
  filter: drop-shadow(0 0 1em #DCCCBB);
}
.navbar-container {
  display: flex;
  flex-direction: row;
  padding-top: 5%;
  margin-left: 0rem;
  justify-content: center;
}
.tab-active {
  background-color: #858D6F;
  border-radius: 5px;
  padding: 5px;
  font-family: "Comfortaa", sans-serif;
  font-weight: 700;
  font-style: normal;
  cursor: pointer;
  transition: background-color 0.5s;
  border: 1px solid #07070aaa;
  height: 4rem;
}

.log-out-bttn {
  color: black;
  position: absolute;
  top: 2rem;
  right: 4rem;
}


.login-label {
  padding-left: 0px;
}


.snipp-container1, .snipp-container2, .snipp-container3, .snipp-container4 {
  display: flex;
  height: 47.5%;
  align-items: center;
}
.login-logo {
  transform: scale(.45);
    position: fixed;
    top: -10rem;
    left: -8rem;
}

.snipp-container1 {
  position: relative;
}

.snipp-container2 {
  background-color: #ABBD9A;
}

.snipp-container3 {
  background-color: #858D6F;
}

.snipp-container4 {
  background-color: #DCCCBB;
}



.landing-page-header {
  font-size: 30px;
  padding-bottom: 2em;
}

.landing-page-header h1 {
  overflow: hidden;
  border-right: .12em solid black;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .10em;
  animation: typewriter 2.5s steps(30, end), blink-caret .75s step-end ;
}

@keyframes typewriter {
  from {width: 0%;}
  to {width: 100%;}
}

/* The typewriter cursor effect */

.landing-page-container {
  width: 100%;
  height: 160vh;
}

.snipp-text1,
.snipp-text2,
.snipp-text3,
.snipp-text4 {
  font-size: 2em;
  margin-left: 2em;
  margin-right: 1em;
  padding-left: 1em;
  width: 50%;

}

.snipp-text1, .snipp-text3 {
  margin-left: 159px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0,0, 2);
  background-color: white;
  border: 1px solid;
  z-index: 2;
}

.snipp-text2, .snipp-text4 {
  margin-left: 66px;
  border-radius: 10px;
  box-shadow: -5px 5px 5px rgba(0, 0,0, 2);
  background-color: white;
  border: 1px solid;
  z-index: 2;
}


.snipp1,
.snipp2,
.snipp3,
.snipp4 {
  height: 90%;
  border-radius: 10px;
  width: 30%;
}

.snipp1, .snipp3 {
  height: 47%;
  margin-left: 2em;
  order: -1;
}

.snipp2 img, .snipp4 img {
  border: 5px solid white;
  margin-left: 140px;
  box-shadow: -5px 5px 5px rgba(0, 0,0, 2);
  margin-top: -40px;
}

.snipp3 img {
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0,0, 2);
}

.snipp4 img {
  border: 5px solid white;
  box-shadow: 5px 5px 5px rgba(0, 0,0, 2);
  margin-top: -40px;
}

.snipp1 img {
 border: 5px solid white;
  margin-left: 44px;
  width: 25.3%;
  margin-top: -162px;
  border-radius: 10px;
  position: absolute;
  height: 84%;
  box-shadow: 5px 5px 5px rgba(0, 0,0, 2);
}
.snipp2, .snipp4 {
  height: 47%;
  margin-right: 2em;
  order: 1;
}
.snipp1 {
  display: flex;
  /* background-color: #DCCCBB; */
}

body, html {
  margin: 0;
  padding: 0;
}

.snipp-img {
  margin-top: -43px;
  border-radius: 10px;
  position: absolute;
  height: 47%;
  width: 27.3%;
}



