@tailwind base;
@tailwind components;
@tailwind utilities;

/*
LOGIN PAGE CSS
*/
.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 100vh;
  background-color: #CED2BA;
  flex-direction: column;
}
.login-h1 {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ABBD9A;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
}