.classes {
  background-color: #858D6F;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.75);
}
.class-dropdown {
  transform: scale(1.15);
  margin-bottom: 1rem;
  margin-left: 1rem;
  font-size: medium;
  border: 1px solid;
}
.class-header {
  color: white;
  display: flex;
  justify-content: center;
}
.student-name {
  padding-right: 15rem;
    background-color: white;
    border-radius: 5px;
    padding-left: 1rem;
}
.selected-class {
  border-radius: 10px;
  background-color: #DCCCBB;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-top: .1rem;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.selected-class-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.classes-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.classes {
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  width: 55vw;
  display: inline-block;
  position: relative;
  margin-top: 21rem;
}

.grade-chart {
  background-color: #DCCCBB;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  row-gap: 5px;
  width: auto;
  max-width: 100%;
  overflow-x: auto;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the modal backdrop is on top of other content */
}

.modal-content {
  background-color: #DCCCBB;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  flex-direction: column;
  row-gap: 5px;
  width: fit-content;
}

.modal-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust the gap as needed */
}

.modal-avg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px; /* Adjust the gap as needed */
}
.student-table-container {
  width: 95vh;
}
.grades-button {
  padding-left: 3%
}
.class-list-header {
  font-size: large;
}